/*
  Name: Zephyr Zhou
  Date: April 13th, 2020
  Section:   AK Austin Jenchi, Jeffrey Worley
  This is the creative.css page for my portfolio of web development work.
  It is used by creative section in my portfolio to give the site a consistent look and feel.
*/

#creative {
  background-color: darkgray;
  opacity: 0.8;
  color: black;
  text-align: left;
  padding: 25px;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 0px;
  border-right: 0px;
  border-color: #551755;
  border-style: dashed;
}

#creative * {
  margin: 20px;
}

#creative #image-block {
  flex-direction: column;
}

#creative #image-block cite {
  font-size: 12px;
}

#creative img {
  width: 100%;
  height: 50%;
}

#creative article, #creative #image-block {
  display: flex;
}

#creative article *:not(aside) {
  font-size: 18px;
}

#creative article aside {
  font-size: 30px;
  align-self: center;
}

#creative article .underline {
  text-decoration: underline;
}

#creative h1 {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 40px;
}