body {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  font-size: 5vh;
}

body, button {
  font-family: 'Lobster', cursive;
}

body, #main {
  justify-content: center;
  align-items: center;
}

body, #main, .input-text {
  display: flex;
  flex-direction: column;
}

#main {
  width: 100%;
  height: 100%;
  padding-bottom: 3vh;
  background-color: black;
  opacity: 0.7;
  color: white;
}

.input-text {
  margin-bottom: 30px;
}

.input-text input {
  font-family: 'Indie Flower', cursive;
}

.input-text input, button, .lyrics {
  font-size: 3vh;
}

.input-text input, body {
  text-align: center;
}

.input-text input, button {
  height: 5vh;
}

button {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

h2 {
  font-size: 4vh;
}

footer {
  font-size: 2vh;
}

footer p {
  margin: -3px;
}